.cardBody {
    max-height: 0;
    transition: max-height 0.75s ease-out;
    overflow: hidden;
  }
  
  .cardBody.expanded {
    max-height: 500px;
    transition: max-height 0.95s ease-in;
  }

  .cardTitleContainer {
    display: flex;
    flex-direction: row;
    padding: 16px;
  }

  .reset {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    color: #FFF;
    border: none;
    background-color: rgba(var(--rgbPink), 0.8);
    cursor: pointer;
    margin-left: 8px;
  }

  .reset:hover {
    background-color: rgba(var(--rgbPink), 1);;
  }

  .challengeRatingCount {
    min-width: 48px;
    text-align: center;
  }
  
  .btnChallengeRating {
    cursor: pointer;
    border: none;
    padding: 0 16px;
    color: var(--white);
  }
  
  .btnChallengeRating.increment {
    background: rgba(var(--rgbCyan), 0.8);
  }
  
  .btnChallengeRating.increment:hover {
    background: rgba(var(--rgbCyan), 1);
  }
  
  .btnChallengeRating.decrement {
    background: rgba(var(--rgbRed), 0.8);
  }
  
  .btnChallengeRating.decrement:hover {
    background: rgba(var(--rgbRed), 1);
  }

  .svgButton {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    color: #FFF;
    border: none;
    cursor: pointer;
    padding: 8px;
  }


  h3.enemyTitle {
    font-size: 20px;
    color: rgba(var(--rgbRed), 0.8);
  }
  
  h3.allyTitle {
    font-size: 20px;
    color: rgba(var(--rgbCyan), 0.8);
  }

  .crText {
    font-size: 18px;
    font-weight: 500;
  }